$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;
$cursor: #fff;

.login-container {
  min-height: 100%;
  width: 100%;
  background-color: $bg;
  overflow: hidden;
  .login-form {
    padding: relative;
    width: 520px;
    // max-width: 100%;
    padding: 160px 35px 0;
    margin: 0 auto;
    overflow: hidden;

    .form-item {
      border: 1px solid rgba(255, 255, 255, 0.1);
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      color: #454545;
      .input-wrapper {
        background: transparent;
        border: none;
        box-shadow: none;
        &:focus {
          box-shadow: none;
        }
        input {
          height: 47px;
          background: transparent;
          border: none;
          -webkit-appearance: none;
          border-radius: 0;
          padding: 12px 5px 12px 15px;
          color: $light_gray;
          caret-color: $cursor;
        }
      }
    }

    .tips {
      font-size: 16px;
      color: #fff;
      line-height: 24px;
    }
  }
  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    display: inline-block;
  }
  .title-container {
    // display: flex;
    position: relative;
    text-align: center;
    margin: 0 auto 40px auto;
    .title {
      font-size: 26px;
      color: $light_gray;
      font-weight: bold;
    }
  }
  .show-pwd {
    padding: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
  .lang-select {
    // display: inline-block;
    position: absolute;
    top: 4px;
    right: 0;
    background-color: #fff;
    font-size: 22px;
    padding: 0 4px;
    border-radius: 4px;
    cursor: pointer;
  }
}
